<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lab603.picencyclopedias">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name="com.lab603.picencyclopedias.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConfigView"></activity>
        <activity android:name=".PicPhotoSimple.PickPhoto_Activity"></activity>
        <activity android:name=".pickphotoview.PickPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeBottom"/>

        <activity android:name=".pickphotoview.PickListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeRight"/>

        <activity android:name=".pickphotoview.PickPhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeRight"/>

    </application>

</manifest>
